In [1]:
import pandas as pd

# method1

In [4]:
data = {'Product': ['Computer','Printer','Monitor','Desk','Phone'],
          'Price': [1200,250,400,700,350]
        }
print(data)

{'Product': ['Computer', 'Printer', 'Monitor', 'Desk', 'Phone'], 'Price': [1200, 250, 400, 700, 350]}

In [3]:
df = pd.DataFrame(data, columns = ['Product','Price'], index = ['Item_1','Item_2','Item_3','Item_4','Item_5'])
print(df)

         Product  Price
Item_1  Computer   1200
Item_2   Printer    250
Item_3   Monitor    400
Item_4      Desk    700
Item_5     Phone    350

# method2

In [6]:
data = {'Product': ['Computer','Printer','Monitor','Desk','Phone'],
          'Price': [1200,250,400,700,350]
        }
print(data)

{'Product': ['Computer', 'Printer', 'Monitor', 'Desk', 'Phone'], 'Price': [1200, 250, 400, 700, 350]}

In [11]:
df = pd.DataFrame(data, columns = ['Product','Price'], index = ['Item_1','Item_2','Item_3','Item_4','Item_5'])
df.reset_index(level=0, inplace=True) 
df = df.rename(columns = {'index':'items'})
df

    items   Product  Price
0  Item_1  Computer   1200
1  Item_2   Printer    250
2  Item_3   Monitor    400
3  Item_4      Desk    700
4  Item_5     Phone    350